* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: white;

  max-width: 30em;
}

p {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr .5fr .5fr;
  background-color: black;

  grid-gap: 15px;
  grid-row-gap: 10px;

}


.grid-item:first-child {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0;
  margin: 0;
}

.grid-item:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
}

.grid-item:nth-child(3) {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 5;
}

.grid-item:nth-child(4) {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;

  text-decoration: underline;
}

.grid-item:nth-child(5) {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid-item:nth-child(6) {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;
}

.grid-item:nth-child(7) {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;
  
}

.main-txt {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  font-weight: 800;
  font-size: 9em;
  color: white;
  margin: 0;
}

.footer-item {
  font-family: sans-serif;
  font-weight: 600;
  
}
