<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Me</title>
  <link rel="stylesheet" href="/css/about.css">
</head>
<body>
  <header class="container">
    <nav class="home-button">
      <a href="/index.html">Home</a>
    </nav>

    <h1 class="title">
      HI my name is Matteo Cordiner and I am a Digital Designer. I studied Web and Digital Design in Milan a the SPD (Scuola Politecnica di Design)
      and now I am ready to do some serious stuffs on the web. I like code, design website, application,and more. If you are insterested don't esitate
      to send me a <a href="mailto: matteo.cordiner@gmail.com">mail</a>.
    </h1>
    <img src="/image/profile-img-blue.jpg" alt="profile img" class="profile-img">
  </header>

  <footer class="footer-wrapper">
    <p class="footer-p">Copyright &copy; Matteo Cordiner, 2019</p>
    <p class="email-p"><a class="email-link" href="mailto:matteo.cordiner@gmail.com">matteo.cordiner@gmail.com</a></p>
    <ul class="footer-nav">
      <li class="footer-nav-element"><a href=""><img class="social-img" src="/image/icons/facebook_icon.png" alt="facebook_icon"></a></li>
      <li class="footer-nav-element"><a href=""><img class="social-img" src="/image/icons/instagram_icon.png" alt="instagram_icon"></a></li>
      <li class="footer-nav-element"><a href=""><img class="social-img" src="/image/icons/linkedin_icon.png" alt="linkedin_icon"></a></li>
    </ul>
  </footer>

  
</body>
</html>