<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fendi | Mto Project</title>
  <link rel="stylesheet" href="/css/fendi.css">
</head>
<body>

  <header class="header-container">
    <div class="title-container">
      <h1 class="header-h1">Fendi</h1>
      <h2 class="header-h2">MTO Service</h2>
    </div>
    <img class="h1-image" src="/image/Fendi/fendi-h1.png" alt="ipad hold fendi">
    <button class="go-home-btn">Go Home</button>
  </header>




</body>
</html>