<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fendi | Mto Project</title>
  <link rel="stylesheet" href="/css/fendi.css">
</head>
<body>

  <header class="header-container">
    <div class="title-container">
      <h1 class="header-h1">Fendi</h1>
      <h2 class="header-h2">MTO Service</h2>
    </div>
    <img class="h1-image" src="/image/Fendi/fendi-h1.png" alt="ipad hold fendi">
    <a class="go-home-btn" href="/index.html">Go Home</a>
    <a class="go-back-link" href="Fendi.html"><img src="/image/icons/120823-solid-arrow-collection.png" alt="" height="35px"></a>
  </header>

  <section class="beginning-container">
    <h3 class="beginning-h1" >A project for Fendi sellers to create a better experience for their customers</h3>
    <img class="beginning-img" src="/image/Fendi/First-page.png" alt="First page Fendi">
  </section>

  <article class="selectors-container">
    <h3 class="selector-h">Selection of gender and size of the bag</h3>
    <div>
      <div class="selector-background"></div>
      <img class="selector-img" src="/image/Fendi/Selector-Gender.png" alt="Gender selector">
      <img class="selector-img" src="/image/Fendi/Bag-selector.png" alt="Bag selector">
    </div>  
  </article>

  <article class="material-container">
    <h3 class="material-h">Selection of material and color</h3>
    <div class="material-selector-container">
      <div class="material-background"></div>
      <img class="material-img" src="/image/Fendi/Fendi_with_Ipad_3.png" alt="Fendi material selector">
      <img class="material-img" src="/image/Fendi/Fendi_with_Ipad2.png" alt="Fendi color selector">
    </div>
  </article>

  <article class="form-container">
    <h3 class="form-h1">Form page</h3>
    <img class="form-img" src="/image/Fendi/Fendi_with_Ipad4.png" alt="Form page">
  </article>

  <section class="mockup-section">
    <div class="fendi-logo-container">
      <div class="mockup-background"></div>
      <div class="mockup-background-2"></div>
      <img src="/image/Fendi/fendi-roma-vector-logo.svg" alt="fendi-logo" class="fendi-logo">
    </div>  
    <img src="/image/Fendi/mockuper-1.png" alt="mockuper" class="mockup-img">
    <img src="/image/Fendi/mockuper.png" alt="mockuper2" class="mockup-img">
    <img src="/image/Fendi/mockuper3.png" alt="mockuper3" class="mockup-img">
  </section>

  <footer class="footer-wrapper">
    <p class="footer-p">Copyright &copy; Matteo Cordiner, 2019</p>
    <p class="email-p"><a class="email-link" href="mailto:matteo.cordiner@gmail.com">matteo.cordiner@gmail.com</a></p>
    <ul class="footer-nav">
      <li class="footer-nav-element"><a href=""><img class="social-img" src="/image/icons/facebook_icon.png" alt="facebook_icon"></a></li>
      <li class="footer-nav-element"><a href=""><img class="social-img" src="/image/icons/instagram_icon.png" alt="instagram_icon"></a></li>
      <li class="footer-nav-element"><a href=""><img class="social-img" src="/image/icons/linkedin_icon.png" alt="linkedin_icon"></a></li>
    </ul>
  </footer>

</body>
</html>