<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Fork | App redesign</title>
  <link rel="stylesheet" href="/css/the-fork.css">
</head>
<body>

  <header class="header-container">
    <div class="title-container">
      <h1 class="header-h1">The Fork</h1>
      <h2 class="header-h2">Application restyling</h2>
    </div>
    <img class="h1-image" src="/image/The Fork/Main_the_fork.png" alt="main the fork" width="50px">
    <a class="go-home-btn" href="/index.html">Go Home</a>
    <a class="go-back-link" href="the-fork.html"><img src="/image/icons/120823-solid-arrow-collection.png" alt="" height="35px"></a>
  </header>

  <section class="beginning-container">
    <h3 class="beginning-h1" >Redesign the experience and the style of The Fork application</h3>
    <img class="beginning-img" src="/image/The Fork/Restaurant_the_fork.png" alt="restaurant page the fork">
  </section>

  <article class="selectors-container">
    <h3 class="selector-h">New rating system and map page</h3>
    <div>
      <div class="selector-background"></div>
      <img class="selector-img" src="/image/The Fork/Rating_the_fork.png" alt="rating page">
      <img class="selector-img" src="/image/The Fork/Map_the_fork.png" alt="map page">
    </div>  
  </article>

  <section class="mockup-section">
    <div class="logo-container">
      <div class="mockup-background"></div>
      <div class="mockup-background-2"></div>
      <img src="/image/The Fork/Logo-TheFork-vertical-white-background.png" alt="fendi-logo" class="logo">
    </div>  
    <img src="/image/The Fork/mockuper (1).png" alt="mockuper" class="mockup-img">
    <img src="/image/The Fork/mockuper.png" alt="mockuper2" class="mockup-img">
    <img src="/image/The Fork/mockuper2.png" alt="mockuper3" class="mockup-img">
    <img src="/image/The Fork/mockuper4.png" alt="mockuper3" class="mockup-img">
  </section>

  <footer class="footer-wrapper">
    <p class="footer-p">Copyright &copy; Matteo Cordiner, 2019</p>
    <p class="email-p"><a class="email-link" href="mailto:matteo.cordiner@gmail.com">matteo.cordiner@gmail.com</a></p>
    <ul class="footer-nav">
      <li class="footer-nav-element"><a href=""><img class="social-img" src="/image/icons/facebook_icon.png" alt="facebook_icon"></a></li>
      <li class="footer-nav-element"><a href=""><img class="social-img" src="/image/icons/instagram_icon.png" alt="instagram_icon"></a></li>
      <li class="footer-nav-element"><a href=""><img class="social-img" src="/image/icons/linkedin_icon.png" alt="linkedin_icon"></a></li>
    </ul>
  </footer>

</body>
</html>