* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --text-color:white;
  --brand-color:#ffda7f;
}

.wrapper {
  background-color: #4c59a9;

  display: grid;
  grid-template-rows: repeat(4 20%);
  grid-template-columns: repeat(4 1fr);

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/************
HEADER
************/

header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.title {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;

  color: var(--brand-color);
}

.list-1 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  display: flex;
  justify-content: center;
}

.list-2 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.nav1, .nav2, .nav3 {
  list-style: none;

  text-transform: uppercase;
} 

a {
  text-decoration: none;
  color: var(--text-color);
}

/**************
MAIN
**************/

main {
  display: grid;
  grid-template-rows: repeat(4, 1fr); 
}

.article-1 {
  margin: 20px;
  border-top: 2px solid pink;
  border-bottom: 2px solid pink;
  
  grid-row: 1 / 2;

  position: relative;
  display: flex;
  flex-flow: column;
  
  -webkit-box-shadow: 2px 30px 39px -14px rgba(64,76,140,1);
  -moz-box-shadow: 2px 30px 39px -14px rgba(64,76,140,1);
  box-shadow: 2px 30px 39px -14px rgba(64,76,140,1);
}

.article-1-p {
  text-transform: uppercase;
  color: var(--brand-color);

  font-size: 35px;
  margin: 5px;

}

.article-1-h {
  margin: 5px;
  color: var(--text-color);
}

.article-1-title {
  position: absolute;
  bottom: 20px;
  left: 15px;
    
  text-transform: uppercase;
  color: var(--text-color);
}

.article-1-img {
  height: 150px;
  position: absolute;
  bottom: 20px;
  right: 30px;
}



.article-2 {
  margin: 20px;
  border-top: 2px solid pink;
  border-bottom: 2px solid pink;

  grid-row: 2 / 3;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  position: relative;

  -webkit-box-shadow: 2px 30px 39px -14px rgba(64,76,140,1);
  -moz-box-shadow: 2px 30px 39px -14px rgba(64,76,140,1);
  box-shadow: 2px 30px 39px -14px rgba(64,76,140,1);

}

.article-2-h {
  color: var(--text-color);

  position: absolute;
  top: 10px;
  left: 10px;
}

.article-2-img {
  max-width: 200px;
}

.article-2-p {
  margin: 5px;
  color: var(--text-color);
}


.article-3 {
  margin: 20px;
  border-top: 2px solid pink;
  border-bottom: 2px solid pink;

  grid-row: 3 / 4;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  position: relative;

  -webkit-box-shadow: 2px 30px 39px -14px rgba(64,76,140,1);
  -moz-box-shadow: 2px 30px 39px -14px rgba(64,76,140,1);
  box-shadow: 2px 30px 39px -14px rgba(64,76,140,1);
}

.article-3-h {
  position: absolute;
  top: 10px;
  left: 10px;

  color: var(--text-color);
}

.article-3-img {
  margin-top: 30px;

  max-width: 250px;
}

.article-3-p {
  margin: 10px;
  color: var(--text-color);
}

.article-4 {
  margin: 20px;
  border-top: 2px solid pink;
  border-bottom: 2px solid pink;

  grid-row: 4 / 5;

  display: flex;
  justify-content: center;
  align-content: center;

  position: relative;
  
  -webkit-box-shadow: 2px 30px 39px -14px rgba(64,76,140,1);
  -moz-box-shadow: 2px 30px 39px -14px rgba(64,76,140,1);
  box-shadow: 2px 30px 39px -14px rgba(64,76,140,1);
}

.article-4-h {
  position: absolute;
  top: 10px;
  left: 10px;

  color: var(--text-color);
}

.article-4-img {
  height: 200px;
  width: 200px;

  margin: 20px;
}

/**********
ASIDE
**********/

aside {
  position: absolute;
  top: 10px;
  right: 10px;
}

.nav3 {
  display: flex;
  flex-flow: row;
}

.social {
  margin-right: 10px;
}

/************
FOOTER
************/
footer {
  grid-row: 3 / 4;
  grid-column: 1 / 2;

  position: relative;

  height: 200px;
}

.footer-p {
  position: absolute;
  bottom: 20px;
  left: 70px;

  color: var(--text-color);
}

.footer-link {
  position: absolute;
  bottom: 15px;
  right: 70px;


  color: white;
}


  

@media (min-width: 1030px) {

  header {
    display: flex;
    flex-flow: row;
    
    margin: 50px;
  
  }

  .title {
    margin-right: 20px;
  }




  /*************
  MAIN
  *************/

  .main-wrapper { 
    margin: 50px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-gap: 20px;

  }

  .article-1 {
    border: 0;

    max-height: 500px;
    max-width: 700px;

    grid-column: 1 / 3;
    grid-row: 1 / 3;

    -webkit-box-shadow: 2px 30px 39px 4px rgba(64,76,140,1);
    -moz-box-shadow: 2px 30px 39px 4px rgba(64,76,140,1);
    box-shadow: 2px 30px 39px 4px rgba(64,76,140,1);
  }

  .article-1-p {
    margin: 15px;
  }

  .article-1-title {
    bottom: 80px;
    left: 70px;
  }

  .article-1-img {
    height: 120px;

    bottom: 80px;
    right: 50px;
  }

  .article-2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;

    max-height: 500px;

    border-top: 2px solid pink;
    border-bottom: 2px solid pink;
     
    box-shadow: none;

    z-index: 1;
  }
  
  .article-3 {
    border: 0;

    grid-column: 2 / 4;
    grid-row: 3 / 4;

    max-height: 500px;

    display: flex;
    flex-flow: row;

    box-shadow: none;

    
  }

  .article-3-img {
    transform: translateY(100px);

    padding: 25px;


    -webkit-box-shadow: 2px 30px 39px 4px rgba(64,76,140,1);
    -moz-box-shadow: 2px 30px 39px 4px rgba(64,76,140,1);
    box-shadow: 2px 30px 39px 4px rgba(64,76,140,1);
  }

  .article-3-p {
    margin: 30px;
  }

  .article-4 {
    border: 0;

    grid-column: 4 / 5;
    grid-row: 2 / 3;

    max-height: 250px;

    -webkit-box-shadow: 2px 30px 39px 4px rgba(64,76,140,1);
    -moz-box-shadow: 2px 30px 39px 4px rgba(64,76,140,1);
    box-shadow: 2px 30px 39px 4px rgba(64,76,140,1);
  }

  .article-1:hover {
    transform: scale(1.1);
  }
  .article-2:hover {
    transform: scale(1.1);
  }
  .article-3:hover {
    transform: scale(1.1);
  }
  .article-4:hover {
    transform: scale(1.1);
  }

  a:hover {
    text-decoration: underline; 
  
  }




}


