<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>One page</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container">
    <header>
      <nav>
        <ul class="navigation-list">
          <li>Home</li>
          <li>Shop</li>
          <li>News</li>
          <li>Contact</li>
        </ul>
      </nav>
    </header>
    
    <main>
      <article class="article-1">
        <h1 class="article-title">Purchase Now</h1>
        <p>A quiet house for living</p>
        <button id="btn">Buy now</button>
        <img class="article-img" src="mansion.jpeg" alt="mansion img">
      </article>

    </main>

    <footer>
      <p id="scroll-down">Scroll Down</p>
      <p id="page-number">01/04</p>
    </footer>
  </div>
  
</body>
</html>