<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta author="name" content="Matteo">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Layout 1</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <header class="header-wrapper"> 
    <h1 class="my-name">Matteo Cordiner</h1>
    <nav class="main-navigation">
      <ul class="main-nav-list">
        <li class="main-nav-element"><a class="link-to-page" href="">Intro</a></li>
        <li class="main-nav-element"><a class="link-to-page" href="work.html">Work</a></li>
        <li class="main-nav-element"><a class="link-to-page" href="">About</a></li>
      </ul>
    </nav>
  </header>

 

  <footer class="footer-wrapper">
    <p class="footer-p">Copyright &copy; Matteo Cordiner, 2019</p>
    <p><a class="email-link" href="mailto:matteo.cordiner@gmail.com">matteo.cordiner@gmail.com</a></p>
    <ul class="footer-nav">
      <li class="footer-nav-element"><a href=""></a>1</li>
      <li class="footer-nav-element"><a href=""></a>2</li>
      <li class="footer-nav-element"><a href=""></a>3</li>
    </ul>
  </footer>
  
</body>
</html>