<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta author="name" content="Matteo">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Layout 1</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <header class="header-wrapper"> 
    <h1 class="my-name">Matteo Cordiner</h1>
    <nav class="main-navigation">
      <ul class="main-nav-list">
        <li class="main-nav-element"><a class="link-to-page" href="#">Intro</a></li>
        <li class="main-nav-element"><a class="link-to-page" href="#main">Work</a></li>
        <li class="main-nav-element"><a class="link-to-page" href="#">About</a></li>
      </ul>
    </nav>
  </header>

  <main class="main main-wrapper background-page">
    <h2 class="project-title">My Digital and Web projects.</h2>
    <article class="wrapper-item-1">
      <h3 class="article-h">Fendi Customer Service</h3>
      <p class="article-p">Re-Design of the Fendi customer service called MTO, done in a team where we analized behaviour and feelings of Fendi customers creating an interactive and smart service. </p>
      <a href="#"><img class="article-1-img" src="image/Fendi/Fendi_splash_page.png" alt="Fendi_splash_page"></a>
      <a class="article-link" href="#">See more</a>
    </article>
    <article class="wrapper-item-2">
      <h3 class="article-h">The Fork</h3>
      <p class="article-p">Creating a new application for the company The Fork, adding new features and improving the old ones.</p>
      <a href="#"><img class="article-2-img" src="image/The Fork/Main_the_fork.png" alt="Main_the_fork"></a>
      <a class="article-link" href="#">See more</a>
    </article>
    <article class="wrapper-item-3">
      <h3 class="article-h">PinGo</h3>
      <p class="article-p">A project of SEO Workshop, designing a SEO analisys and website for bussines of sharing veichle.</p>
      <a href="#"><img class="article-3-img" src="image/PinGo/Homepage.png" alt="Homepage"></a>
      <a class="article-link" href="#">See more</a>
    </article>
    <section class="other-projects">
      <h2 class="other-projects-h">Other personal projects</h2>
      <article class="wrapper-item-4">
        <h3 class="article-h">Svolta</h3>
        <p class="article-p">Svolta is my thesis project, a E-Free FLoating Bike Sharing for the city of Rome. </p>
        <a href="#"><img class="article-4-img" src="image/Svolta/render 1.png" alt="render"></a>
        <a class="article-link" href="#">See more</a>
      </article>
      
      <article class="wrapper-item-5">
        <h3 class="article-h">Videomaking</h3>
        <p class="article-p">Here you can find some videos that i made by myself, during my last two years in Rome. I worked as freelance videomaker for young singer.</p>
        <a href="#"><img class="article-5-img" src="image/Videomaking/Splash_page.JPG" alt="Splash_page"></a>
        <a class="article-link" href="#">See more</a>
      </article>
    </section>
  </main>

 

  <footer class="footer-wrapper">
    <p class="footer-p">Copyright &copy; Matteo Cordiner, 2019</p>
    <p class="email-p"><a class="email-link" href="mailto:matteo.cordiner@gmail.com">matteo.cordiner@gmail.com</a></p>
    <ul class="footer-nav">
      <li class="footer-nav-element"><a href=""><img class="social-img" src="/image/icons/facebook_icon.png" alt="facebook_icon"></a></li>
      <li class="footer-nav-element"><a href=""><img class="social-img" src="/image/icons/instagram_icon.png" alt="instagram_icon"></a></li>
      <li class="footer-nav-element"><a href=""><img class="social-img" src="/image/icons/linkedin_icon.png" alt="linkedin_icon"></a></li>
    </ul>
  </footer>
  
</body>
</html>