<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Layout 1 Work page</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="background-page">
    <header class="work-header">
      <h1>This are all my projects</h1>
      <a class="go-back-link" href="index.html">Go Back</a>
    </header>

    <main class="main-wrapper">
      <article class="wrapper-item-1">
        <h3 class="article-h">Fendi Customer Service</h3>
        <p class="article-p">Re-Design of the Fendi customer service called MTO, done in a team where we analized behaviour and feelings of Fendi customers creating an interactive and smart service. </p>
        <img class="article-1-img" src="/image/Fendi/Fendi_splash_page.png" alt="Fendi_splash_page">
        <a class="article-link" href="#">See more</a>
      </article>
      <article class="wrapper-item-2">
        <h3 class="article-h">The Fork</h3>
        <p class="article-p">Creating a new application for the company The Fork, adding new features and improving the old ones.</p>
        <img class="article-2-img" src="image/The Fork/Main_the_fork.png" alt="Main_the_fork">
        <a class="article-link" href="#">See more</a>
      </article>
      <article class="wrapper-item-3">
        <h3 class="article-h">PinGo</h3>
        <p class="article-p">A project of SEO Workshop, designing a SEO analisys and website for bussines of sharing veichle.</p>
        <img class="article-3-img" src="image/PinGo/Homepage.png" alt="Homepage">
        <a class="article-link" href="#">See more</a>
      </article>
      <section class="other-projects">
        <h2 class="other-projects-h">Other personal projects</h2>
        <article class="wrapper-item-4">
          <h3 class="article-h">Svolta</h3>
          <p class="article-p">Svolta is my thesis project, a E-Free FLoating Bike Sharing for the city of Rome. </p>
          <img class="article-4-img" src="image/Svolta/render 1.png" alt="render">
          <a class="article-link" href="#">See more</a>
        </article>
        <article class="wrapper-item-5">
          <h3 class="article-h">Videomaking</h3>
          <p class="article-p">Here you can find some videos that i made by myself, during my last two years in Rome. I worked as freelance videomaker for young singer.</p>
          <img class="article-5-img" src="image/Videomaking/Splash_page.JPG" alt="Splash_page">
          <a class="article-link" href="#">See more</a>
        </article>
      </section>
    </main>

  </div>    

  <footer class="footer-wrapper">
    <p class="footer-p">Copyright &copy; Matteo Cordiner, 2019</p>
    <ul class="footer-nav">
      <li class="footer-nav-element"><a href=""></a>1</li>
      <li class="footer-nav-element"><a href=""></a>2</li>
      <li class="footer-nav-element"><a href=""></a>3</li>
    </ul>
  </footer>

</body>
</html>