<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Layout 1 Work page</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="background-page">
    <header class="work-header">
      <h1>This are all my projects</h1>
    </header>

    <main class="main-wrapper">
      <article class="wrapper-item-1">
        <h2 class="article-1-h">Fendi Customer Service</h2>
        <p class="article-1-p">Re-Design of the Fendi customer service called MTO, done in a team where we analized behaviour and feelings of Fendi customers and we created an interactive and smart service. </p>
        <img class="article-1-img" src="/image/Fendi/Fendi_splash_page.png" alt="">
        <a class="article-link" href="#">See the project</a>
      </article>
      <article class="wrapper-item-2">2</article>
      <article class="wrapper-item-3">3</article>
      <article class="wrapper-item-4">4</article>
      <article class="wrapper-item-5">5</article>
    </main>


    <footer class="footer-wrapper">
      <p class="footer-p">Copyright &copy; Matteo Cordiner, 2019</p>
      <ul class="footer-nav">
        <li class="footer-nav-element"><a href=""></a>1</li>
        <li class="footer-nav-element"><a href=""></a>2</li>
        <li class="footer-nav-element"><a href=""></a>3</li>
      </ul>
    </footer>
  </div>    

</body>
</html>