* {
  box-sizing: border-box;
}

:root {
  font-family: roboto, sans-serif;
  --text-weight: 500;
  --text-size: 18px;
  --image-size: 200px;
  --background-color-img: rgb(46, 231, 46);
}

@font-face {
  font-family: Gameplay;
  src: url(/font/Gameplay.ttf) format("truetype");

  font-family: roboto;
  src: url(/font/Roboto-Regular.ttf) format("truetype");
}

body {
  margin: 0;
}

.main-navigation {
  margin: 25px 40px;

  position: fixed;
  top: 5px;
  right: 15px;

  z-index: 99;
}

.link-to-page {
  color: #333;
  font-size: 20px;
  font-weight: 400;

  text-decoration: none;
}

.main-nav-element {
  display: inline;

  margin: 0 10px;
}

.main-nav-element:hover {
  text-decoration:  underline;
}

.header-container {
  margin-top: 80px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;

  height: 70vh;
}

.h1-image {
  margin-top: 50px;

  width: var(--image-size);
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  text-align: center;
}

.header-h1 {
  margin: 0;
  
  position: relative;
  overflow: visible;
  
  text-transform: uppercase;
  font-size: 80px;
}

.header-h1::after {
  content: "";

  position: absolute;
  bottom: -5px;
  left: 0px;

  width: 100%;
  height: 10px;
  
  background: var(--background-color-img);
  z-index: 1;
}

.go-home-btn {
  position: absolute;
  top: 15px;
  left: 20px;

  border: 0;
  border-radius: 20px;
  padding: 10px 15px;

  background: #A8D0E6;
  font-size: 16px;
  font-weight: 600;

  text-decoration: none;
  color: white;
}

.beginning-container {
  margin-top: 10em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.beginning-h1 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.beginning-img {
  width: var(--image-size);
}

.selectors-container {
  margin: 60px 0 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  position: relative;
}

.selectors-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.selector-h {
  font-weight: var(--text-weight);
  font-size: var(--text-size);
  text-align: center;
}

.selector-img {
  margin-top: 20px;
  
  width: var(--image-size);
}

.selector-background {
  position: absolute;

  width: 100%;
  height: 100px;

  top: 50%;
  left: 0;

  background: var(--background-color-img);
  z-index: -1;
}

.material-container {
  margin: 60px 0 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  position: relative;
  
}

.material-h {
  font-weight: var(--text-weight);
  font-size: var(--text-size);
  text-align: center;
}

.material-container div img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-background {
  width: 100%;
  height:93%;

  left: 0;
  top: 50px;

  position: absolute;
  background-color: var(--background-color-img);
  background-image: url(/image/Fendi/Fendi_FF_logo.png);
  background-size: 85px;
  background-position: top;
  z-index: -20;
}

.material-img {
  margin: 10px 0;

  width: var(--image-size);
}

.form-container {
  margin: 60px 0 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.form-h1 {
  font-weight: var(--text-weight);
  font-size: var(--text-size);
  text-align: center;
}

.form-img {
  width: var(--image-size);
}

.mockup-section {
  margin: 60px 0 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  
  position: relative;
}

.logo-container {
  margin: 25px 0; 

  position: relative;

  width: 100%;

  display: flex;
  justify-content: center;
}

.logo{
  width:10em;
}

.mockup-background {
  position: absolute;

  width: 24vw;
  height: 50px;

  top: 45px;
  left: 0;

  background: var(--background-color-img);
  z-index: -1;
}

.mockup-background-2 {
  position: absolute;

  width: 25vw;
  height: 50px;

  top: 45px;
  right: 0;

  background: var(--background-color-img);
  z-index: -1;
}

.mockup-img {
  margin: 15px 0;

  width: 90%;
}

.go-back-link {
  position: fixed;
  bottom: 25px;
  right: 15px;

  z-index: 99;
}

.footer-wrapper {
  margin: 15px 0 0 0; 

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  height: 50vh;
  
  background-color: #24305E;
  color: white;
}

.email-p {
  font-size: 15px;
}

.social-img {
  max-width: 20px;
}

.email-link {
  margin: 0 15px;
  
  text-decoration: none;
  color: var(--text-color);
}

.footer-nav {  
  padding: 0;
  
  list-style: none;
}

.footer-nav-element {
  display: inline;

  margin: 0 10px;
}

@media (min-width: 425px) {

  .mockup-background {
    width: 30vw;
  }
  .mockup-background-2 {
    width: 30vw;
  }
}

@media (min-width: 500px) {
  .fendi-logo {
    transform: scale(1.3)
  }
}

@media (min-width: 750px) {

  body h3 {
    font-size: 25px !important;
  }

  .header-container {
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  .header-h1 {
    width: 380px;
  }
  
  .h1-image {
    width: 300px;

    margin-left: 80px;
  }

  .beginning-container {
    margin: 190px 0;
  }

  .beginning-img {
    width: 300px;
  }

  .selectors-container div {
    flex-flow: row;
  }

  .selectors-container div img {
    margin: 25px 60px;

    width: 20em;
  }

  .logo-container {
    margin: 190px 0;
  }

  .logo-container img {
    transform: scale(1.9);
  }

  .material-img {
    width: 25em;
  }

  .form-img {
    width: 30em;
  }

  .mockup-img {
    width: 50em;
  }
}

@media (min-width: 1440px) {

  .go-home-btn {
    display: none;
  }
  
  .header-container {
    margin-left: 100px;
  }

  .h1-image {
    width: 350px;

    margin-left: 300px;
  }

  .beginning-container {
    margin: 205px 0;
  }
    
  .beginning-img {
    width: 400px;
  }

  .selectors-container {
    margin: 120px 0;
  }

  .selectors-container div img {
    margin: 50px 80px;

    width: 25em;
  }

  .material-img {
    width: 50em;
  }

  .logo-container {
    margin: 18em 0;
  }

  .fendi-logo {
    transform: scale(1.9);
  }

  .mockup-img {
    width: 80%;
  }

}